In [4]:
import pandas as pd

In [5]:
EmployeeDetails = r"C:\Users\DELL\OneDrive\Desktop\excel\EmployeeDetails.csv"

In [6]:
df = pd.read_csv(EmployeeDetails)

In [7]:
print(df)

   EmpId   EmpName  Gender  Salary Department
0      1      Wafa    male    5000         IT
1      2    Maheer    male    3000    Payroll
2      3     Asmin  female    3000    Payroll
3      4  Sarfaraj    male    4000         HR
4      5    Ayesha  female    3000         IT
5      6     Afrin  female    2500         HR
6      7   Shashin  female    4000         IT
7      8  Mahaboob    male    2000    Payroll
8      9  Pyarijan  female    1500         IT
9     10      Imam    male    2000         IT

In [8]:
import pyodbc

In [9]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [10]:
import pyodbc

conn = pyodbc.connect(
    Trusted_Connection="Yes",
    Driver='{ODBC Driver 17 for SQL Server}',
    Server="DESKTOP-A3IPJIQ\\SQLEXPRESS",
    Database="mydb"
)

cursor = conn.cursor()

In [11]:
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\excel\EmployeeDetails.csv")

In [12]:
df.head()

   EmpId   EmpName  Gender  Salary Department
0      1      Wafa    male    5000         IT
1      2    Maheer    male    3000    Payroll
2      3     Asmin  female    3000    Payroll
3      4  Sarfaraj    male    4000         HR
4      5    Ayesha  female    3000         IT

In [13]:
df.columns

Index(['EmpId', 'EmpName', 'Gender', 'Salary', 'Department'], dtype='object')

In [15]:
cursor.execute("CREATE TABLE EmployeeDetails (EmpId int, EmpName varchar(100), Gender varchar(100), Salary int, Department varchar(100))")

In [17]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO mydb.dbo.EmployeeDetails (EmpId, EmpName, Gender, Salary, Department)
                VALUES (?, ?, ?, ?, ?)
                ''',
                row.EmpId,
                row.EmpName,
                row.Gender,
                row.Salary,  
                row.Department 
                )
    
conn.commit()